.accountSettings
    h2
        margin-top: 60px
        margin-bottom: 20px

    .withTopDivider
        padding-top: 50px
        margin-top: 50px
        border-top: 1px solid #ddd

.subscriptionSettings
    .updatePaymentDetails
        min-width: 210px