.enterPaymentPage
    .notice
        max-width: 800px
        margin: 0 auto
        padding: 42vh 10px 0 10px
        text-align: center

        .anticon-loading
            margin-right: 5px
            svg
                color: color-primary

        .anticon-check
            margin-right: 5px
            svg
                color: color-green-bg

    .paddleLoading.notice
        padding-top: 50px

    .enterPayment
        max-width: 400px
        padding: 50px 10px 0 10px
        margin: 0 auto
        text-align: center
        
        h1
            margin-bottom: 25px

        .cost
            font-size: 17px
            color: color-primary
            font-weight: bold
            margin-bottom: 5px

        .when
            font-size: 12px
    
    .paddleCheckout
        .paddleContainer
            // This is slightly off-center because the left
            // side is visually heavier than the right
            margin-left: -8px

        
