body
  width: 100%
  min-height: 100vh
  margin: 0
  padding: 0
  background: color-background
  color: color-default
  font: font-size font-sans
  -webkit-text-size-adjust: 100%
  overflow-y: auto

#root
  width: 100%
  min-height: 100vh
