
.dailyLogsPage
  .inputRow
    width: 500px

  .actionIcon.chevron
    top: 0

  .ant-calendar-picker
    margin-right: 6px

table.historyTable
  margin-bottom: 20px
  width: 100%
  min-width: 700px

  .rowSelector
    width: 30px
    padding-left: 10px
    text-align: left

  td.rowSelector
    .ant-checkbox
      top: -2px

