a.actionIcon
  color: color-grey
  text-decoration: none
  margin-left: 5px
  margin-right: 10px

  &:visited
    color: color-grey

  &:hover, &:active
    color: color-primary

  &.danger
    &:hover, &:active
      color: color-danger

  &.chevron
    position: relative
    font-size: 130%
    top: 3px

  &.spacer
    display: inline-block
    width: 20px

  i.anticon
    svg 
      font-size: 20px

.ant-modal-confirm-body > .anticon
  svg 
    font-size: 22px
    
i.anticon
  svg 
    overflow: visible

  &.primary
    svg
      color: color-primary

  &.green
    svg
      color: color-green-bg

  &.margin-right-sm
    margin-right: 7px


