// --------- Regular fade ---------
.fade-enter
    opacity: 0.01

.fade-enter-active
    opacity: 1
    transition: opacity 0.5s ease-in

.fade-appear
    opacity: 0.01

.fade-appear-active
    opacity: 1
    transition: opacity 0.5s ease-in

.fade-exit
    opacity: 1

.fade-exit-active
    opacity: 0.01
    transition: opacity 0.5s ease-out


// --------- Slow fade ---------
.fade-slow-enter
    opacity: 0.01

.fade-slow-enter-active
    opacity: 1
    transition: opacity 0.7s ease-in

.fade-slow-appear
    opacity: 0.01

.fade-slow-appear-active
    opacity: 1
    transition: opacity 0.7s ease-in

.fade-slow-exit
    opacity: 1

.fade-slow-exit-active
    opacity: 0.01
    transition: opacity 0.7s ease-out

// --------- Expand from top ---------
.expand-from-top-enter
    max-height: 0

.expand-from-top-enter-active
    max-height: 50px
    transition: all 0.3s ease-in 0s

.expand-from-top-appear
    max-height: 0

.expand-from-top-appear-active
    max-height: 50px
    transition: all 0.3s ease-in 0s

.expand-from-top-exit
    max-height: 50px

.expand-from-top-exit-active
    max-height: 0
    transition: all 0.3s ease-out 0s
