// Fixes to Ant Design elements

.ant-collapse-borderless > .ant-collapse-item
    border: none

.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow
    left: 0

.ant-collapse > .ant-collapse-item > .ant-collapse-header
    padding-left: 20px
    color: color-primary

.ant-collapse-content > .ant-collapse-content-box
    padding: 0

// Select drop-down
.ant-select-dropdown-menu-item
    transition: none

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled), .ant-select-dropdown-menu-item-active:hover:not(.ant-select-dropdown-menu-item-disabled)
    background: color-primary
    color: white
