// Antd fixes
.ant-select
    max-width: 300px
    margin-right: 20px

    @media mq-mobile
        width: 100%
        max-width: 100%

    ul
        width: 100%

.ant-select-combobox 
    .ant-select-search__field
        //top: 1px
        padding-top: 3px

        &.error
            border-color: color-error