div.timeTrackerWidget
    position: relative
    width: 100%
    max-width: 900px
    min-height: 120px
    margin: 0 auto 40px auto
    border: 1px solid
    border-color: color-border
    border-radius: 4px
    background: #fafafa

    .widgetCenter
        width: 100%
        text-align: center
        margin: 51px auto 0 auto
        color: color-grey

        &.error
            color: color-error

    .startScreen
        width: 100%
        text-align: center
        margin: 38px auto 0 auto
        font-size: 23pt

        a
            color: #222
            font-size: 23pt
            text-decoration: none

            .anticon
                display: inline-block
                color: color-success
                margin-right: 10px

                svg
                    font-size: 23pt

    .bottomControls
        display: block
        position: absolute
        bottom: 10px
        width: 100%
        padding-right: 10px
        text-align: right

        color: color-grey

        a
            color: color-grey

    .waitingPlaceholder
        margin: 45px 20px 45px 20px
        text-align: center
        color: color-grey

        a
            color: darken(color-grey, 10%)
            text-decoration: underline

            &:hover, &:active
                color: darken(color-grey, 80%)

    .timeTrackerInput
        margin: 20px

        p
            margin-bottom: 10px

        button 
            margin-top: 10px

    .settingsForm
        margin-bottom: 30px

    .detailedResponseForm
        margin: 20px 0 20px 20px
        max-width: 100%

    .timeLogEntryTable
        width: 100%
        margin-bottom: 20px

        thead
            background: inherit
            border-bottom: none

            tr
                border-bottom: none

        tr.topLevel
            border-top: none

        .rowSelector
            display: none

        .fromDate
            width: 135px

            .ant-calendar-picker
                left: -1px

        .fromTime
            width: 95px
            min-width: 95px

            .timeInput
                width: 78px

        .toTime
            width: 95px

            .timeInput
                width: 78px

        .timeBlockLength
            width: 110px

            &.inTimeLogEntryInput
                padding-top: 5px

        .entryText
            .ant-select
                left: -2px
                width: 100%

            .addRow
                margin-right: 10px

        .controls
            width: 30px

        

      

