color-primary = #1890ff
color-primary-lighter1 = #40a9ff
color-bg-primary = #0050b3
color-default = #181818
color-error = #f5222d
color-danger = #f5222d
color-danger-background = #ffccc7
color-success = #52c41a
color-green-bg = #389e0d
color-fontgray = #888
color-grey = #ccc
color-grey-bg = #f6f6f6
color-border = #e8e8e8
color-link = color-primary//#258fb8
color-background = #fff

font-header = 'Krub', -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
font-sans = -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif
font-mono = "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace
font-size = 12pt
font-size-h2 = 18pt

body-max-width = 900px
side-padding = 10px

mq-mobile = "screen and (max-width: 599px)"
mq-tablet = "screen and (min-width: 600px) and (max-width: 991px)"
mq-normal = "screen and (min-width: 992px)"
